# 1. Series

## Exercise 1

In [12]:
import pandas as pd
import random

random.seed(72)

In [25]:
value = [random.randint(70, 100) for x in range(10)]
month = ['September', 'October', 'November', 'December', 'January', 'February', 'March', 'April', 'May', 'June']
score = pd.Series(value, index=month)

### 1.

In [13]:
score.mean()

85.4

### 2.

In [15]:
score.iloc[:5].mean()

84.8

### 3.

In [17]:
score[-5:].mean()

86.0

### 4.

In [19]:
score[-5:].mean() - score.iloc[:5].mean()

1.2000000000000028

## Exercise 2

In [35]:
import numpy as np
import pandas as pd

np.random.seed(72)

In [28]:
value = np.random.randint(40, 60, 10)
month = month = ['September', 'October', 'November', 'December', 'January', 'February', 'March', 'April', 'May', 'June']
score = pd.Series(value, index=month)
score

September    44
October      58
November     48
December     52
January      55
February     52
March        40
April        49
May          49
June         52
dtype: int32

In [30]:
diff = 85 - score.mean()
score_scaled = score + diff
score_scaled

September    79.1
October      93.1
November     83.1
December     87.1
January      90.1
February     87.1
March        75.1
April        84.1
May          84.1
June         87.1
dtype: float64

In [31]:
score_scaled.mean()

85.00000000000001

## Exercise 3

In [42]:
import numpy as np
import pandas as pd

np.random.seed(72)

In [43]:
value = pd.Series(np.random.randint(0, 100, 10))
value

0    88
1    19
2    46
3    74
4    94
5    69
6    79
7    26
8     7
9    29
dtype: int32

In [44]:
(value / 10).astype(int)

0    8
1    1
2    4
3    7
4    9
5    6
6    7
7    2
8    0
9    2
dtype: int32

## Exercise 4

In [60]:
import numpy as np
import pandas as pd

np.random.seed(72)

In [61]:
series = pd.Series(100 * np.random.randn(100000))

In [62]:
series.describe()

count    100000.000000
mean          0.505523
std         100.149662
min        -474.337420
25%         -66.796916
50%           0.416662
75%          68.022188
max         395.834136
dtype: float64

In [63]:
series[series == series.min()] = 5 * series.max()

In [64]:
series.describe()

count    100000.000000
mean          0.530058
std         100.333698
min        -396.896989
25%         -66.794262
50%           0.417341
75%          68.024746
max        1979.170682
dtype: float64

## Exercise 5

In [65]:
import numpy as np
import pandas as pd

np.random.seed(72)

In [69]:
week = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'] * 4
temp = pd.Series(5 * np.random.randn(28) + 20, index=week).round().astype(int)
temp

Sun    12
Mon    19
Tue    28
Wed    22
Thu    28
Fri    22
Sat    14
Sun    34
Mon    20
Tue    29
Wed    16
Thu    19
Fri    29
Sat    23
Sun    18
Mon    23
Tue    24
Wed    11
Thu    13
Fri    27
Sat    12
Sun    24
Mon    25
Tue    25
Wed    14
Thu    15
Fri    23
Sat    22
dtype: int32

In [71]:
temp['Mon'].mean()

21.75

## Exercise 6

In [72]:
import numpy as np
import pandas as pd

In [97]:
taxi = pd.read_csv('nyc_taxi_2019-01.csv', usecols=['passenger_count'], squeeze=True)
taxi

0          1
1          1
2          3
3          5
4          5
          ..
7667787    1
7667788    1
7667789    1
7667790    1
7667791    1
Name: passenger_count, Length: 7667792, dtype: int64

In [98]:
taxi.value_counts(normalize=True)[[1, 6]]

1    0.711564
6    0.026189
Name: passenger_count, dtype: float64

## Exercise 7

In [84]:
import numpy as np
import pandas as pd

In [101]:
taxi = pd.read_csv('nyc_taxi_2019-01.csv', usecols=['trip_distance'], squeeze=True)
taxi

0          1.50
1          2.60
2          0.00
3          0.00
4          0.00
           ...
7667787    4.79
7667788    0.00
7667789    0.00
7667790    0.00
7667791    0.00
Name: trip_distance, Length: 7667792, dtype: float64

In [106]:
dist_category = taxi.value_counts(bins=[taxi.min(), 2, 10, taxi.max()])
dist_category.index = ['short', 'medium', 'long']
dist_category

short     4823186
medium    2420887
long       423719
Name: trip_distance, dtype: int64