# 2. Dataframe

## Exercise 8: Net revenue

In [1]:
import pandas as pd

In [56]:
df = pd.DataFrame([
{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100},
{'product_id':96, 'name':'Python Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':1000},
{'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
{'product_id':15, 'name':'banana', 'wholesale_price': 0.5, 'retail_price':1, 'sales':200},
{'product_id':87, 'name':'sandwich', 'wholesale_price': 3, 'retail_price':5, 'sales':300}
])

In [57]:
((df.retail_price - df.wholesale_price) * df.sales).sum()

110700.0

## Exercise 9: Tax planning

In [58]:
df['current_net'] = (df.retail_price - df.wholesale_price) * df.sales

In [59]:
df['after_15'] = df.current_net - df.current_net * 0.15
df['after_20'] = df.current_net - df.current_net * 0.20
df['after_25'] = df.current_net - df.current_net * 0.25

In [60]:
df[['current_net', 'after_15', 'after_20', 'after_25']].sum()

current_net    110700.0
after_15        94095.0
after_20        88560.0
after_25        83025.0
dtype: float64

## Exercise 10: Adding new products

In [61]:
new_products = pd.DataFrame([
    {'product_id':24, 'name':'phone', 'wholesale_price': 200, 'retail_price':500},
    {'product_id':16, 'name':'apple', 'wholesale_price': 0.5, 'retail_price':1},
    {'product_id':17, 'name':'pear', 'wholesale_price': 0.6, 'retail_price':1.2}], index=range(5,8))

In [62]:
df = df.append(new_products)
df

,product_id,name,wholesale_price,retail_price,sales,current_net,after_15,after_20,after_25
0,23,computer,500.0,1000.0,100.0,50000.0,42500.0,40000.0,37500.0
1,96,Python Workout,35.0,75.0,1000.0,40000.0,34000.0,32000.0,30000.0
2,97,Pandas Workout,35.0,75.0,500.0,20000.0,17000.0,16000.0,15000.0
3,15,banana,0.5,1.0,200.0,100.0,85.0,80.0,75.0
4,87,sandwich,3.0,5.0,300.0,600.0,510.0,480.0,450.0
5,24,phone,200.0,500.0,NaN,NaN,NaN,NaN,NaN
6,16,apple,0.5,1.0,NaN,NaN,NaN,NaN,NaN
7,17,pear,0.6,1.2,NaN,NaN,NaN,NaN,NaN

In [51]:
((df.retail_price - df.wholesale_price) * df.sales).sum()

110700.0

## Exercise 11: Best sellers

In [63]:
df[df.sales > df.sales.mean()]

,product_id,name,wholesale_price,retail_price,sales,current_net,after_15,after_20,after_25
1,96,Python Workout,35.0,75.0,1000.0,40000.0,34000.0,32000.0,30000.0
2,97,Pandas Workout,35.0,75.0,500.0,20000.0,17000.0,16000.0,15000.0

## Exercise 12: Finding outliers

In [68]:
df = pd.read_csv('nyc_taxi_2019-01.csv', usecols=['passenger_count', 'trip_distance'])

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7667792 entries, 0 to 7667791
Data columns (total 2 columns):
 #   Column           Dtype
---  ------           -----
 0   passenger_count  int64
 1   trip_distance    float64
dtypes: float64(1), int64(1)
memory usage: 117.0 MB

In [72]:
iqr = df.trip_distance.quantile(0.75) - df.trip_distance.quantile(0.25)
iqr

1.9

In [84]:
low_outlier = df.trip_distance < df.trip_distance.quantile(0.25) - 1.5 * iqr
high_outlier = df.trip_distance > df.trip_distance.quantile(0.75) + 1.5 * iqr

In [85]:
outlier = df[low_outlier | high_outlier]
outlier

         passenger_count  trip_distance
12                     1           8.70
13                     1           6.30
23                     1          12.30
31                     1           6.57
33                     2          19.13
...                  ...            ...
7667759                1          19.00
7667760                1           8.78
7667763                1           5.80
7667779                1           7.50
7667782                3           8.14

[875456 rows x 2 columns]

In [87]:
outlier.trip_distance.count()

875456

In [88]:
outlier.passenger_count.mean()

1.5796350701805688

In [90]:
df.passenger_count.mean()

1.5670782410373156

## Exercise 13: Interpolation